@media only screen and (max-width: 900px) {
    .footerCopyR {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 360px) {
    .footerCopyR {
        font-size: 1rem;
        width: 100%;
    }
}